*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head-container{
    text-align: center;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.5rem;
}
p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0;
}